.show {
  display: block;
} 
.h-10, .h-15 {
  transition: height 0.25s ease-in-out;
}
#showBtn{
  display: none;
}
.navBurger{
  transition: width .5s ease-in-out;
    /* width: 0px; */

}
@media screen and (max-width:906px) {
  #showBtn{
    display:block;
    color:white;
  }
  #transferToMenu{
    display: none;
  }
}
.navBurger hr {
  width:90%;
  margin-left: auto;
  margin-right: auto;
}
.navBurger h3{
  padding-left:5vw;
}